* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./fon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background: linear-gradient(to right, #000000a1, #ffffff0f);
}


a {
	color: white;
	text-decoration: none;
}
h2 {
	color: white;
	font-family:sans-serif;
}

.margin-li {
	margin-left: 20px;
}


/*Шапка,главная,подвал*/

header {
	height: 10vh;
	display: flex;
	align-items:flex-end;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}

main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: auto;
}

footer {
	height: 10vh;
	background-color: #05050585;
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 1px solid #5dff80;
	box-sizing: border-box;
}

.cl {
	width: 90%;
	margin: auto;
	color: white;
	font-family: sans-serif;
	font-size: 13px;
	display: flex;
	justify-content: flex-end;
}

h1 {
	color: white;
	font-family: sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h1 span {
	color: rgb(253, 36, 83);
}

.btn input {
	width: 169px;
	height: 53px;
	text-align: center;
	line-height: 53px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 15px;
}

input {
	background-color: rgba(255, 235, 205, 0);
	color: white;
    border-radius: 10px;
}

.btn {
	display: flex;
}

.btn-a {
	margin-right: 48px;
	background-color: rgb(255, 52, 96);
	border: none;
}

.btn-b {
	border: 1px solid white;
}

input {
	outline: none;
}

input:hover {
	background-color: white;
	color: #000;
}

.btn-a:hover {
	background-color: rgb(255, 0, 55);
	color: white;
}



/* Под мобильные устройства */

@media screen and (max-width:860px) {
	h1 {
		font-size: 30px;
	}
	header {
		justify-content: center;
	}
}

@media screen and ( max-width:570px) {
	h1 {
		font-size: 16px;
	}
}

@media screen and (max-width:460px) {
	.btn {
		display: flex;
		flex-direction: column;
	}
	.btn input {
		margin-right: auto;
		width: 300px;
	}
	.btn-b {
		width: 100%;
	}
	.btn-a {
		margin-bottom: 30px;
	}
}

.clss {
	background: #ffffff;
	z-index: 2;
	width: 400px;
	height: 70vh;
	position: absolute;
	top: 50%;
	display:none;
	flex-direction: column;
	justify-content: center;
	bottom: 50%;
	margin: auto;
	left: -50%;
	right: -50%;
	padding: 30px;
}

.clss-oz {
	background: #ffffff;
	z-index: 2;
	width: 400px;
	height: 20vh;
	position: absolute;
	top: 50%;
	display:none;
	flex-direction: column;
	justify-content: center;
	bottom: 50%;
	margin: auto;
	left: -50%;
	right: -50%;
	padding: 50px;
}

.clss-oz>h2 {
	margin-bottom: 15px;
	font-family: sans-serif;
}

 td,tr {
	background: rgb(245 245 245 / 27%);
	color: #515151;
	font-family: sans-serif;
	height: 40px;
	width: 200px;
	text-align: center;
	font-size: 13px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #a2a2a28c;
}

.clss h1 {
	color: #ff9800;
	margin-bottom: 10px;
	width: 100%;
	font-size: 20px;
}
.lol {
	height: 50px;
}

.clss img,
.clss-oz img {
	height: 30px;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

main p {
	color: white;
	margin-bottom: 35px;
	text-align: center;
}

.clss p {
	font-size: 11px;
	background: #ff00000d;
	font-family: monospace;
	box-sizing: border-box;
	margin-top: 10px;
	padding: 5px;
	border-left: 3px solid #ff5959;
}

@media (max-width:740px) {
	.clss,
	.clss-oz {
		width: 60%;
	}
	.clss td {
		font-size: 10px;
		padding: 1px 12px;
	}
}

main p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 td:hover {
	border-left: 1px solid red;
	box-sizing: border-box;
	background-color: rgba(255, 107, 107, 0.068);
}

table {
	border-collapse: collapse;
}
.live {
	display: none;
}
.nomer {
	display: flex;
    /* max-width: 200px; */
    justify-content: center;
    /* border: 1px solid red; */
    width: 100%;
    margin: 5px auto;
}



.nomer p {
	border: 1.5px solid blue;
    box-sizing: initial;
    width: 100%;
    text-align: center;
    font-family: monospace;
    height: 25px;
    line-height: 25px;
}
.nomer p:nth-child(1) {
	border-right: none;
}
.clss-oz h2 {
	color: #000;
}
